<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.dao.ContentMapper">
    <resultMap id="BaseResultMap" type="com.main.dao.dataobject.ContentDO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="a" jdbcType="INTEGER" property="a"/>
        <result column="b" jdbcType="VARCHAR" property="b"/>
        <result column="c" jdbcType="CHAR" property="c"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.main.dao.dataobject.ContentDO">
        <result column="d" jdbcType="LONGVARCHAR" property="d"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, a, b, c, gmt_create
    </sql>
    <sql id="Blob_Column_List">
    d
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from content
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from content
    where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.main.dao.dataobject.ContentDO">
    insert into content (id, a, b, c, 
      gmt_create, d)
    values (#{id,jdbcType=INTEGER}, #{a,jdbcType=INTEGER}, #{b,jdbcType=VARCHAR}, #{c,jdbcType=CHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{d,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.main.dao.dataobject.ContentDO">
        insert into content
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="a != null">
                a,
            </if>
            <if test="b != null">
                b,
            </if>
            <if test="c != null">
                c,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="d != null">
                d,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="a != null">
                #{a,jdbcType=INTEGER},
            </if>
            <if test="b != null">
                #{b,jdbcType=VARCHAR},
            </if>
            <if test="c != null">
                #{c,jdbcType=CHAR},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="d != null">
                #{d,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.main.dao.dataobject.ContentDO">
        update content
        <set>
            <if test="a != null">
                a = #{a,jdbcType=INTEGER},
            </if>
            <if test="b != null">
                b = #{b,jdbcType=VARCHAR},
            </if>
            <if test="c != null">
                c = #{c,jdbcType=CHAR},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="d != null">
                d = #{d,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.main.dao.dataobject.ContentDO">
    update content
    set a = #{a,jdbcType=INTEGER},
      b = #{b,jdbcType=VARCHAR},
      c = #{c,jdbcType=CHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      d = #{d,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.main.dao.dataobject.ContentDO">
    update content
    set a = #{a,jdbcType=INTEGER},
      b = #{b,jdbcType=VARCHAR},
      c = #{c,jdbcType=CHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>